In [30]:
# imports
#%load_ext lab_black
import pandas as pd
import numpy as np

# INPUT CSV AND read dataframe

df = pd.read_csv("team_game_data_11_17_20.csv")
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,Is_Win,Is_Loss,Home_Away,Opponent
0,22019,1610612737,ATL,Atlanta Hawks,21900969,3/11/2020,ATL vs. NYK,L,265,131,...,26,6.0,3,17,25,0.0,0,1,Home,NYK
1,22019,1610612737,ATL,Atlanta Hawks,21900957,3/9/2020,ATL vs. CHA,W,290,143,...,33,1.0,5,15,26,5.0,1,0,Home,CHA
2,22019,1610612737,ATL,Atlanta Hawks,21900943,3/7/2020,ATL @ MEM,L,240,101,...,23,9.0,2,14,24,-17.0,0,1,Away,MEM
3,22019,1610612737,ATL,Atlanta Hawks,21900930,3/6/2020,ATL @ WAS,L,239,112,...,25,9.0,4,17,25,-6.0,0,1,Away,WAS
4,22019,1610612737,ATL,Atlanta Hawks,21900905,3/2/2020,ATL vs. MEM,L,239,88,...,20,6.0,8,17,21,-39.0,0,1,Home,MEM

In [32]:
# DROP NULL  and blank VALUES

df_1 = df.dropna()
df_1.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,Is_Win,Is_Loss,Home_Away,Opponent
0,22019,1610612737,ATL,Atlanta Hawks,21900969,3/11/2020,ATL vs. NYK,L,265,131,...,26,6.0,3,17,25,0.0,0,1,Home,NYK
1,22019,1610612737,ATL,Atlanta Hawks,21900957,3/9/2020,ATL vs. CHA,W,290,143,...,33,1.0,5,15,26,5.0,1,0,Home,CHA
2,22019,1610612737,ATL,Atlanta Hawks,21900943,3/7/2020,ATL @ MEM,L,240,101,...,23,9.0,2,14,24,-17.0,0,1,Away,MEM
3,22019,1610612737,ATL,Atlanta Hawks,21900930,3/6/2020,ATL @ WAS,L,239,112,...,25,9.0,4,17,25,-6.0,0,1,Away,WAS
4,22019,1610612737,ATL,Atlanta Hawks,21900905,3/2/2020,ATL vs. MEM,L,239,88,...,20,6.0,8,17,21,-39.0,0,1,Home,MEM

In [34]:
# tAKE OUT OVERTIME AND TIES

df_2 = df_1.loc[(df_1.WL == "W") | (df_1.WL == "L")]
df_2.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,Is_Win,Is_Loss,Home_Away,Opponent
0,22019,1610612737,ATL,Atlanta Hawks,21900969,3/11/2020,ATL vs. NYK,L,265,131,...,26,6.0,3,17,25,0.0,0,1,Home,NYK
1,22019,1610612737,ATL,Atlanta Hawks,21900957,3/9/2020,ATL vs. CHA,W,290,143,...,33,1.0,5,15,26,5.0,1,0,Home,CHA
2,22019,1610612737,ATL,Atlanta Hawks,21900943,3/7/2020,ATL @ MEM,L,240,101,...,23,9.0,2,14,24,-17.0,0,1,Away,MEM
3,22019,1610612737,ATL,Atlanta Hawks,21900930,3/6/2020,ATL @ WAS,L,239,112,...,25,9.0,4,17,25,-6.0,0,1,Away,WAS
4,22019,1610612737,ATL,Atlanta Hawks,21900905,3/2/2020,ATL vs. MEM,L,239,88,...,20,6.0,8,17,21,-39.0,0,1,Home,MEM

In [ ]:
df_3 = df[~df_2['SEASON_ID'].astype(str).str.startswith('1')]